{% extends 'base.html' %}

{% block title %}
About us
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to our store!</h1>
        <p>В поле ввода задайте необходимое количество слов, после нажатия кнопки «Генерировать» появится список существительных соответствующий количеству введенного запроса. Генератор случайных слов выдает список в диапазоне от 1 до 200 существительных. Кроме того все слова - являются обозначениями предметов. Из генератора исключены слова, которые невозможно представить в виде образа или материи.</p>
    </div>

{% endblock %}

